/* Place custom CSS styling for bubble list items widget in Composer in this file */

.widget-bubble_list_items {
  border: 1px solid #909fb7;
  border-radius: 4px;
  box-sizing: border-box;
}

.widget-bubble_list_items .bubble-list-content {
  width: 100%;
  /* height: 150px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  /* padding: 10px; */
  /* box-sizing: border-box; */
}

.widget-bubble_list_items .bubble-list-content section {
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(9, 120, 255);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: rgb(9, 120, 255);
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
}

.widget-bubble_list_items .bubble-list-content section span {
  margin: 0px 10px;
}

.widget-bubble_list_items .bubble-list-content section span.item-title {
  margin-right: 15px;
}

.widget-bubble_list_items .bubble-list-content section span.item-delete {
  cursor: pointer;
  color: #646c74;
}
